*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
SavingUserRepositoryImplTest.ktC:\Users\Zakhar\AndroidStudioProjects\NewsApp\app\src\androidTest\java\com\firebase\newsapp 
echo C:\Users\Zakhar\AndroidStudioProjects\NewsApp\app\src\test\java\com\firebase\newsapp 
